.margin-editor {
    margin-left: 1%;
    margin-right: 1%;
    height: 500px;
}

.completo {
    height: 100%;
    width: 100%;
}

.boton-ejecutar {
    width: 100%;
    float:right ;
}

.correr-derecha{
    padding-left: 50px;
}
