<app-navbar></app-navbar>
<div class="container-fluid">
    <br>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card card-user shadow fondo-nombre">

                <div class="image imagen">

                    <img src="assets/img/fondofiusac.png" alt="...">

                </div>

                <div class="card-body border-top-avatar">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1>ORGANIZACION DE LENGUAJES Y COMPILADORES 2</h1>
                            <h2>Escuela de vacaciones Junio 2023</h2>
                            <p-accordion [activeIndex]="-1" class="fondo-nombre">
                                <p-accordionTab header="Diego André Mazariegos Barrientos" >
                                    <div class="row">
                                        <p class="pi pi-user col-1"></p>
                                        <p class="col">202003975</p>
                                    </div>
                                    <div class="row">
                                        <p class="pi pi-verified col-1"></p>
                                        <p class="col">Sexto Semestre</p>
                                    </div>
                                </p-accordionTab>
                                <p-accordionTab header="Yeinny Melissa Catalán de León">
                                    <div class="row">
                                        <p class="pi pi-user col-1"></p>
                                        <p class="col-11">202004725</p>
                                    </div>
                                    <div class="row">
                                        <p class="pi pi-verified col-1"></p>
                                        <p class="col-11">Sexto Semestre</p>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>